* {
  text-align: center;
  font-family: "Times New Roman", Times, sans-serif;
}
.container {
  background-color: #fff4e1;
  border: 1px solid black;
}

.container .ingredients {
  border: inherit;
}
img {
  height: 200px;
  width: 200px;
}
